<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f2f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .container {
    text-align: center;
  }
  
  header {
    margin-bottom: 1%;  
  }
  
  header h1 {
    font-size: 2.5rem; 
    color: #0e0e0e;
  }
  
  /* Vision Board Container */
  .vision-board {
    background-color: #fff;
    border-radius: 30px;
    padding: 40px; 
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2); 
    max-width: 800px; 
    margin: auto;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }
  
  /* Daily Reminder */
  .daily-reminder {
    background-color: #5f5f5f;
    padding: 10px;
    border-radius: 8px;
  }
  
  .daily-reminder h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #2e1dc7;
  }
  
  .daily-reminder p {
    font-size: 1.1rem; 
    color: #efeded;
  }
  
  /* Image Gallery */
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
  }
  
  .image-gallery img {
    width: 180px;
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Goals and Additional Images Section */
  .goals-and-images {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
  }
  
  /* Goals */
  .goals-box {
    text-align: center;
    font-size: 1.2rem; 
    background-color: #ffffff;
    border: 2px solid #2106f2; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .goals-box h3 {
    color: #201dc7;
    font-size: 1.5rem; 
  }
  
  .goals-box ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .goals-box li {
    margin: 2px 0; 
    color: #6e1f4e;
  }
  
  /* Additional Images */
.additional-images {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .additional-images img {
    width: 180px; 
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Center the fifth image specifically */
  .additional-images img:nth-child(1) {
    margin-right: auto; 
  }
  
  .additional-images img:nth-child(2) {
    margin-left: auto;
    gap: 10px; 
  }
  
  
  /* Responsive design */
  @media (max-width: 768px) {
    .vision-board {
      padding: 20px; 
    }
  
    .image-gallery {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    .image-gallery img {
      width: 80px; 
      height: 80px; 
    }
  
    .additional-images img {
      width: 80px; 
      height: 80px; 
    }
  
    .goals-and-images {
      flex-direction: column; 
    }
  }
</style>
